
body {
  font-family: 'Times New Roman', Times, sans-serif;
  background: #f8f0f0;
  display: flex;
  justify-content: center;
}

.container {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: block;
  text-align: center;
  padding: 5px 8px;
  background-color: none;
  color: #000000;
  border: outset;
  cursor: url(assets/sprites/Poké_Ball_summary_IV.png), auto;
  font-size: 16px;
  border-radius: px;
  transition: background-color 0.3s;
  justify-content: center;
  margin: 0 auto;
}

.button:hover {
  background-color: #cce3f7;
}

.result {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

.hide{
  display: none;
}